## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# to reference config.py
import sys
sys.path.append('../')


import config

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.15,-70.92,37.40,44,40,17.22,scattered clouds
1,1,Ushuaia,AR,-54.80,-68.30,28.40,92,75,17.22,light snow
2,2,Beinamar,TD,8.67,15.38,73.24,89,96,2.35,overcast clouds
3,3,Atuona,PF,-9.80,-139.03,78.82,75,3,21.94,clear sky
4,4,Tessalit,ML,20.20,1.01,92.30,11,12,13.82,few clouds

In [3]:
city_data_df.describe()

,Unnamed: 0,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
count,721.00000,721.000000,721.000000,721.000000,721.000000,721.000000,721.000000
mean,360.00000,19.288128,15.757060,65.281928,69.320388,48.625520,8.177351
std,208.27906,32.153641,90.474988,17.268368,23.117243,38.720668,6.142092
min,0.00000,-54.800000,-179.170000,15.150000,8.000000,0.000000,0.090000
25%,180.00000,-6.880000,-65.710000,53.600000,55.000000,6.000000,3.400000
50%,360.00000,21.670000,18.420000,68.000000,77.000000,41.000000,6.710000
75%,540.00000,46.130000,102.280000,78.730000,88.000000,90.000000,11.410000
max,720.00000,78.220000,179.320000,106.360000,100.000000,100.000000,60.060000

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Beinamar,TD,8.67,15.38,73.24,89,96,2.35,overcast clouds
3,3,Atuona,PF,-9.80,-139.03,78.82,75,3,21.94,clear sky
6,6,Puerto Ayora,EC,-0.74,-90.35,78.80,57,20,18.34,few clouds
7,7,Ozuluama,MX,21.67,-97.85,84.20,42,20,4.70,few clouds
12,12,Santa Isabel Do Rio Negro,BR,-0.41,-65.02,81.41,92,100,1.63,overcast clouds
14,14,Tecpan,GT,14.76,-90.99,77.00,57,40,11.41,scattered clouds
15,15,Buala,SB,-8.14,159.59,81.16,78,12,8.41,light rain
23,23,Obo,CF,5.40,26.49,70.54,91,100,2.89,overcast clouds
24,24,Sao Filipe,CV,14.90,-24.50,80.83,81,43,5.26,scattered clouds
25,25,Victoria,HK,22.29,114.16,80.01,80,24,1.01,few clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             298
City                   298
Country                298
Lat                    298
Lng                    298
Max Temp               298
Humidity               298
Cloudiness             298
Wind Speed             298
Current Description    298
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna().copy()
clean_df.count()

Unnamed: 0             298
City                   298
Country                298
Lat                    298
Lng                    298
Max Temp               298
Humidity               298
Cloudiness             298
Wind Speed             298
Current Description    298
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
import numpy as np
hotel_df["Hotel Name"] = np.nan
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Beinamar,TD,73.24,overcast clouds,8.67,15.38,NaN
3,Atuona,PF,78.82,clear sky,-9.80,-139.03,NaN
6,Puerto Ayora,EC,78.80,few clouds,-0.74,-90.35,NaN
7,Ozuluama,MX,84.20,few clouds,21.67,-97.85,NaN
12,Santa Isabel Do Rio Negro,BR,81.41,overcast clouds,-0.41,-65.02,NaN
14,Tecpan,GT,77.00,scattered clouds,14.76,-90.99,NaN
15,Buala,SB,81.16,light rain,-8.14,159.59,NaN
23,Obo,CF,70.54,overcast clouds,5.40,26.49,NaN
24,Sao Filipe,CV,80.83,scattered clouds,14.90,-24.50,NaN
25,Victoria,HK,80.01,few clouds,22.29,114.16,NaN

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
     
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.count()

City                   298
Country                298
Max Temp               298
Current Description    298
Lat                    298
Lng                    298
Hotel Name             276
dtype: int64

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna().copy()
clean_hotel_df.count()

City                   276
Country                276
Max Temp               276
Current Description    276
Lat                    276
Lng                    276
Hotel Name             276
dtype: int64

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
clean_hotel_df = pd.read_csv("WeatherPy_vacation.csv")
clean_hotel_df.set_index("City_ID")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Atuona,PF,78.82,clear sky,-9.80,-139.03,Villa Enata
1,6,Puerto Ayora,EC,78.80,few clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
2,7,Ozuluama,MX,84.20,few clouds,21.67,-97.85,Pailon Quil
3,12,Santa Isabel Do Rio Negro,BR,81.41,overcast clouds,-0.41,-65.02,Hotel GSA
4,14,Tecpan,GT,77.00,scattered clouds,14.76,-90.99,San Ricardo Restaurante y Hotel

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Maximumm Temperature</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height=&#39;420px&#39;))